entrypoint = "index.html"
run = "npm install && npm run vendor:chart && npm run serve"

[deployment]
build = "npm install && npm run vendor:chart"
run = "python3 -m http.server 3000"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"
